.image12Icon {
  width: 128px;
  position: relative;
  border-radius: 14px;
  height: 127px;
  object-fit: cover;
}
.midtownCinemas {
  position: relative;
  line-height: 130%;
}
.modalWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.poweredBy {
  height: 13px;
  position: relative;
  line-height: 130%;
  font-weight: 300;
  display: inline-block;
}
.letterLogo2 {
  width: 97px;
  position: relative;
  height: 12px;
  object-fit: cover;
  mix-blend-mode: normal;
  cursor: pointer;
}
.poweredByParent {
  width: 1440px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.frameWrapper {
  align-self: stretch;
  padding: var(--padding-xl) 0;
  font-size: var(--font-size-3xs);
  font-family: var(--font-inter);
}
.frameWrapper,
.image12Parent,
.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image12Parent {
  align-self: stretch;
  padding: 100px 0;
  gap: 20px;
}
.rating {
  width: 100%;
  position: relative;
  height: 1014px;
  overflow: hidden;
  background-image: url(/rating@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .midtownCinemas {
    font-size: var(--font-size-11xl);
  }
  .poweredBy {
    font-weight: 300;
    font-family: var(--font-montserrat);
    font-size: var(--font-size-mid);
  }
}
@media screen and (max-width: 420px) {
  .midtownCinemas {
    font-size: var(--font-size-11xl);
  }
  .poweredBy {
    font-weight: 100;
    font-family: var(--font-montserrat);
    font-size: var(--font-size-mini);
  }
  .letterLogo2 {
    width: 100px;
  }
}
@media screen and (max-width: 350px) {
  .midtownCinemas {
    font-size: var(--font-size-6xl);
  }
  .modalWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
